:root{
  --lightgrey: #E2E2E2;
  --darkblue: #19323C;
  --raspberry: #A93F55;
  --fontbody: "Oriya Sangam MN";
  --fontlabel: "PT Sans";
  --fontaccent: "SignPainter";
  --fontmono: "PT Mono";
}

input[type=checkbox] {accent-color: var(--raspberry);}
input[type=label] {font-family:var(--fontlabel)}
input {accent-color: var(--raspberry);}

.label-default {
  background-color: var(--raspberry);
}

body{
  background-color: var(--lightgrey);
  margin: 0;
  font-size: 18px;
}

h1{
  font-family: var(--fontaccent);
  font-size:35px;
  color: var(--lightgrey)
}

h2{
  font-family: var(--fontaccent);
  font-size:35px;
  color: var(--lightgrey)
}

.container-fluid{
  background-color: var(--lightgrey);
  width: 100%;
  margin: 0;
  padding: 0;
}

.container{
  background-color: var(--lightgrey);
  width: 100%;
  margin: 0;
  padding: 0;
}

/*.row{
  margin:0;
  justify-content: space-between;
}*/


.well{
  background: white;
  padding: 3%;
  border-radius: 6px;
  box-shadow: 6px 6px 12px #C5C5C5;
  overflow: hidden;
  width: 100%;
  justify-content: space-between;
}

.headerQBio{
  background-color: var(--darkblue);
  top: 0;
  left: 0;
  margin-bottom: 1em;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 6px 6px 12px #C5C5C5;
}

.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: 13px;
  line-height: 21px;
  color: var(--lightgrey);
  text-align: center;
  background-color: var(--darkblue);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}